<a href="https://colab.research.google.com/github/AdanALalawni/data_science/blob/main/python_elzero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l=[1,3,4,6,4,2,4,5,5,4,3,45]
print(l.count(5))
print(l.index(5))

2
7

In [ ]:
#s={3,6,8,3,2,5,7,4,7,4,9}
#print(s)
#l=list(s)
#print(l)
d={"name":"ali"}
#print(d.setdefault("age",35))
#print(d.items())
t=((1,4),[6,67])
print(dict(t))

{1: 4, 6: 67}

In [ ]:
name=((input("")).strip()).capitalize()
print(f"hey {name}")

adan
hey Adan

In [ ]:
age=int(input(""))
print("more than 35" if age>35 else "less than 35")

24
less than 35

In [ ]:
d={
    "name":"ali",
   "age":35,
   "id":19999
   }
for i j in d.items():
  print(i+" "+j)

name: ali
age: 35
id: 19999

In [12]:
import os
import datetime
#print(dir(datetime.datetime))
print(datetime.datetime.now().year)
print(datetime.datetime.now().time().minute)
print(datetime.datetime.min)
print(datetime.datetime.max)

2023
59
0001-01-01 00:00:00
9999-12-31 23:59:59.999999

In [20]:
bd=datetime.datetime(2000,3,30)
print(bd.strftime("%Y-%b-%d"))
n=datetime.datetime.now()
my=n-bd
print(my.days/360)

2000-Mar-30
23.980555555555554

In [16]:
#Iterable :object contains data can be iterated upon like(list,tuple,set)
l=[1,3,5,6,7,7]
print(*l)
#iterator:object used to iterated over iterable object using next() giveing one elemant at a time
j=iter(l)
print(next(j))
print(next(j))
print(next(j))
print(next(j))
print(next(j))
print(next(j))

1 3 5 6 7 7
1
3
5
6
7
7

In [ ]:
"""Iterable :A Python object which can be looped over or iterated over in a loop.
Examples of iterables include lists, sets, tuples, dictionaries, strings, etc.
Iterator:An iterator is an object that can be iterated upon. Thus, iterators contain a countable number of values.
Generator:A special type of function which does not return a single value: it returns an iterator object with a sequence of values."""

In [4]:
# Generator : return iterator when we call it we dont start automatically it let you take control just
def gen(x):
  for i in range(x):
    yield i
x=gen(10)
print(next(x))
print(next(x))
print(next(x))
print("*"*50)
for i in x:
  print(i)

0
1
2
**************************************************
3
4
5
6
7
8
9

In [18]:
#Decorator :take the function and add functionllity and return it
#ex1:
def mydec(fun):
  def nest(*num):# warparr function
    for i in num:
      if i<0:
        print("less than zero")
    fun(*num)
  return nest
@mydec
def sum_1(*num):
  s=0
  for i in num:
    s+=i
  print(s)
sum_1(3,-6,79)
print("*"*80)
#ex2:
from time import time
def check(fun):
  def ins():
    s=time()
    fun()
    e=time()
    print(f"time of execution is {e-s}")
  return ins

def lop():
  x=[x for x in range(10001) ]
  print(sum(x))

d=check(lop)
d()

less than zero
76
********************************************************************************
50005000
time of execution is 0.0007216930389404297

In [12]:
#Zip:take the length of the shortest list or tuple or dictonary
#ex1:
l_1=[1,3,5,6]
l_2=[5,7,9,4,10]
z= zip(l_1, l_2)
for i in z:
  print(i)
#ex2:
l=[1,3,4]
t=("a","b","c")
d={"name":"adan","age":23,"id":1999}
for i,j,k  in zip(l,t,d):
  print(f"item in list is {i}")
  print(f"item in tuple is {j}")
  print(f"key in dictonary is {k} => value is {d[k]}")

(1, 5)
(3, 7)
(5, 9)
(6, 4)
item in list is 1
item in tuple is a
key in dictonary is name => value is adan
item in list is 3
item in tuple is b
key in dictonary is age => value is 23
item in list is 4
item in tuple is c
key in dictonary is id => value is 1999

In [63]:
# regular expression methods:
  #findall:Returns a list containing all matches
  #search	:Returns a Match object if there is a match anywhere in the string
  #split:Returns a list where the string has been split at each match
  #sub:Replaces one or many matches with a string
import re
s="Hey there its 90:99"
x=re.findall("[A-Z]",s)
y=re.search("[A-Z]",s)
print(x,y.span())
print(re.findall(r"[0-9][0-9]{1}",s))
print(re.search("\d",s))
print(re.search("t\w+",s))
print(re.findall("^Hey",s))
print(re.findall("\s",s))
print(re.findall("th.*e",s))
print(re.sub("\s","-",s))
print(re.split("\s",s,2))

['H'] (0, 1)
['90', '99']
<re.Match object; span=(14, 15), match='9'>
<re.Match object; span=(4, 9), match='there'>
['Hey']
[' ', ' ', ' ']
['there']
Hey-there-its-90:99
['Hey', 'there', 'its 90:99']

In [65]:
#OOP
class me:
  pass
print(dir(me))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__']
<class 'type'>

In [74]:
from datetime import datetime
class me:
  id=2018000
  def __init__(self,name,age):
    self.name=name
    self.age=age
    me.id+=1
  def check (self):
    if self.age > 18:
      print("you can access")
    else:
      print("you cant access")
  def get_name(self):
    return str(self.name).upper()
  def info(self):
    return f"Hey {self.get_name()} your age at {datetime.now().year} is {self.age}"

print(me.id)
m=me("adan",23)
print(me.id)
print(m.get_name())
m.check()
print(m.info())

2018000
2018001
ADAN
you can access
Hey ADAN your age at 2023 is 23

In [ ]:
#class method and static methods